/* ============== GIỎ HÀNG ================ */
.card{
    padding: 50px 0;

}
.card .container {
    display: flex;
    align-items: flex-start; /* canh trên cùng hàng */
    justify-content: space-between; /* tách đều hai bên nếu muốn */
}


.title {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 15px 50px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.title span {
    color: #4b0000;
    font-weight: 600;
    letter-spacing: 1px;
}


.card-content-left{
    flex: 2;
    padding-right: 20px;
    padding-left: 50px;

}
.card-content-left table{
    width: 100%;
    text-align: center;

}
.card-content-left table th{
    padding-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.card-content-left table p{
    font-size: 14px;
    color: #333;
}
.card-content-left table input{
    width: 30px;
}

.card-content-left table .colorImg{
    width: 25px;
    height: 25px;
    justify-items: center;
    text-align: center;
}
.card-content-left table span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
    margin: 0 auto;
    cursor: pointer;
}
.card-content-left table td{
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}
.card-content-left td:first-child img{
    width: 120px;
}
.card-content-left td:nth-child(2){
    max-width: 120px;
}


.card-content-right{
    flex: 1;
    padding-left: 20px;
    padding-right: 50px;
    border-left: 2px solid #dddddd;
}
.card-content-right table{
    width: 100%;
}
.card-content-right table th{
    padding-bottom: 30px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.card-content-right table td{
    padding: 10px 0;
    font-size: 14px;
    color: #333;
}
.card-content-right table tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}

.card-content-right tr td:last-child {
    text-align: right;
}
.card-content-right-text{
    margin: 20px 0;
    text-align: center;

}
.card-content-right-text p{
    padding: 10px 0;
    font-size: 14px;
    color: #333;
}
.card-content-right-button{
    align-items: center;

}
.card-content-right-button button{
    padding: 0 20px;
    height: 35px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;

}
.card-content-right-button #ttms{
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;

}
.card-content-right-button #ttms:hover{
    background-color: #ddd;
    transform: scale(1.03);
}

.card-content-right-button #tt{
    background-color: red;
    color: #fff;
    border: none;
}
.card-content-right-button #tt:hover{
    background-color: #c62828;
    border: 1px solid black;
    transform: scale(1.03);
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
/* XEN MÀU DÒNG */
.table-striped tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.card-content-left table td form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-content-right-button {
    display: flex;
    gap: 16px;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* form không được chiếm full width */
.checkout-form {
    width: auto;
    display: inline-flex;
    margin: 0;
}


/* nút thanh toán */
#tt {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 12px 32px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: auto;
}

#tt:hover {
    background-color: #c62828;
}


/* link mua sắm */
.card-content-right-button .btn-outline {
    display: inline-block;
    padding: 10px 26px;
    border: 1px solid #333;
    border-radius: 30px;
    background: #fff;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}


/* nút thanh toán */
.btn-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 14px 40px;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    width: auto;
}

.btn-checkout:hover {
    background-color: #c62828;
}
