* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.forgot-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

/* Box */
.forget-box {
    position: relative;
    background-color: #f8f3e8;
    padding: 45px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    text-align: center;
    border: 1px solid #5B3A29;
}

/* Close button */
.forget-box .close-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: red;
}

/* Title */
.quenMatKhau {
    font-size: 26px;
    font-weight: 700;
    color: #3a2418;
    margin-bottom: 25px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

/* Input */
.input-group input {
    width: 100%;
    padding: 11px;
    border-radius: 20px;
    border: none;
    background-color: #d6cfc2;
    font-size: 15px;
    color: #333;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.15);
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    background-color: #e6ded3;
    box-shadow: 0 0 0 2px #5B3A29;
}

/* Button */
.input-group button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    gap: 50px;
}

.input-group button:hover {
    background-color: #333;
}
.btn-primary {
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #333;
}

/* Error message */
.input-group p {
    font-size: 14px;
    color: red;
    margin-top: 5px;
}

/* Links */
.links {
    text-align: center;
    margin-top: 15px;
}

.links a {
    text-decoration: none;
    color: blue;
}

.links a:hover {
    text-decoration: underline;
}
