*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}
/* ===== MAIN ===== */
.main{
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

/* ===== BOX ===== */
.forget-box {
    position: relative;
    background-color: #f8f3e8;
    padding: 45px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    text-align: center;
    border: 1px solid #5B3A29;
}

/* ===== BACK ===== */
.forget-box .back-btn{
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    font-size: 22px;
    color: #333;
    font-family: initial;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-btn:hover{
    color: red;
}

/* ===== TITLE ===== */
.quenMatKhau{
    font-size: 26px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.desc{
    font-size: 14px;
    margin-bottom: 25px;
    color: #333;
}

/* ===== INPUT ===== */
.input-group{
    margin-bottom: 30px;
}
.input-group input{
    width: 100%;
    padding: 15px 20px;
    background: #00000033;
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #fff;
    box-shadow: 2px 2px 5px #00000066;
    transition: all 0.3s ease;

}
.input-group input::placeholder{
    color: #060707;
}

.input-group input:focus{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 20px #0000001a;
}
/* ===== RULES ===== */
.rules{
    text-align: left;
    font-size: 13px;
    margin-bottom: 25px;
    padding-left: 18px;
}

.rules li {
    color: red;
    margin-bottom: 6px;
}

.rules li.valid {
    color: green !important;
    margin-bottom: 6px;
}


/* ===== BUTTON ===== */
.btn-primary{
    width: 100%;
    padding: 12px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
}

.btn-primary:hover{
    opacity: 0.9;
}
