.order-success-wrapper {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

.order-left {
    flex: 2;
}

.order-right {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
}

.order-code {
    color: #555;
    margin-bottom: 20px;
}

.map-box {
    background: #f6f7f8;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.order-info ul {
    padding-left: 20px;
}

.customer-info {
    margin-top: 20px;
    line-height: 1.8;
}

.btn-main {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #3a2418;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.summary-row,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.summary-total {
    font-size: 18px;
    font-weight: bold;
}
.product-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.product-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.product-info {
    flex: 1;
    font-size: 14px;
}

.product-price {
    font-weight: 600;
}
