/* PHẦN NỘI DUNG SUCCESS */

.actions a {
    color: black;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s;
}

.actions a i {
    font-size: 20px;
}

.actions a:hover i {
    color: #C89F7B;
    transform: scale(1.2);
}

.success-box {
    background-color: #ffffff;
    max-width: 700px;
    margin: 40px auto;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 18px #e0e0e0;
    animation: fadein 0.5s ease;
}

.success-box h1 {
    font-size: 28px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.success-box p {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
    line-height: 1.6;
}
.success-box a {
    text-decoration: none;
    background-color: #C89F7B;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.3s ease;
}

.success-box a:hover {
    background-color: #5B3A29;
}
.products {
    padding: 80px 100px;
    background-color: #fff;
    text-align: center;
}

.products h2 {
    font-size: 30px;
    color: #5B3A29;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
}

.products h2::after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background-color: #A9C87D;
    margin: 10px auto 0;
    border-radius: 3px;
}

/* Lưới sản phẩm */
.product-list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
}

/* Thẻ sản phẩm */
.product-card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px #666666;
    width: 280px;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 540px;
}

.product-card:hover {
    box-shadow: 0 8px 20px #666666;
    transform: translateY(-8px);
}

.btn-view-more {
    display: block;
    margin: 60px auto 0;
    background-color: #ffffff;
    color: #666666;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    width: fit-content;
    position: relative;
}

.btn-view-more::before,
.btn-view-more::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 550px;
    height: 2px;
    background-color: #C89F7B;
    transform: translateY(-50%);
}

.btn-view-more::before {
    left: -550px;
}

.btn-view-more::after {
    right: -550px;
}


.btn-view-more:hover {
    background-color: #5B3A29;
    color: #FFF8E7;
    transform: scale(1.05);
}



/* Hình ảnh sản phẩm */
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

/* Tên sản phẩm */
.product-card h3 {
    font-size: 18px;
    color: #333333;
    margin: 10px 0;
    align-self: center;
}

/* Mô tả*/
.product-card p {
    color: #666666;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}

/* Giá nổi bật */
.product-card span {
    color: #dc2626;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
}
.product-info {
    flex-grow: 1; /* chiếm phần còn lại cho text + giá */
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.product-info h3 {
    margin-top: 18px;
}

/* Nút thêm giỏ hàng */
.btn-add {
    background-color: #A9C87D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
    display: inline-block;
    align-self: center;
    margin-top: auto;
}

.btn-add:hover {
    background-color: #C89F7B;
    transform: scale(1.05);
}