/* MAIN */
.title {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 15px 50px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.title span {
    color: #4b0000;
    font-weight: 600;
    letter-spacing: 1px;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.newsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin: 50px auto;
    gap: 100px;

}
.newsItem {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.newsItem img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}
.newsItem img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.newsItem a{
    color: inherit;
    text-decoration: none;
}
.newsItem a:hover{
    color: #C89F7B;
    transition: 0.3s all ease;

}
.newsItem h3 {
    font-size: 18px;
    margin: 10px 15px;
    color: #222;
    cursor: pointer;

}
.newsItem p {
    font-size: 14px;
    margin: 0 15px 15px;
    color: #555;
    line-height: 1.5;
}

/* Tin to ở hàng dưới cùng chiếm 2 cột */
.newsItem.big {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsItem.big img {
    width: 40%;
    height: 250px;
    object-fit: cover;
}

.newsItem.big h3 {
    font-size: 22px;
}

.newsItem.big p {
    font-size: 15px;
}