/* MAIN */
.title {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    padding: 15px 50px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.title span {
    color: #4b0000;
    font-weight: 600;
    letter-spacing: 1px;
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    padding: 30px 60px;
}
.content .mainArticle img{
    width: 70%;
    margin: 10px 0;
    border-radius: 10px;

}
.content .mainArticle h3{
    padding: 15px 0;
}

.meta{
    font-size: 14px;
    color: #c39595;
    margin: 10px;
}
.sidebar {
    background: #f6f1f1;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 150px;
}

.sidebar h3 {
    font-size: 16px;
    border-bottom: 2px solid #8B0000;
    padding-bottom: 8px;
    margin-bottom: 10px;
    color: #4b0000;
}

.related {
    margin-bottom: 12px;
}
.related a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 10px;
    padding: 6px;
    border-radius: 8px;
    transition: background 0.2s ease;
}


.related img{
    width: 80px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}
.related img:hover{
    transform: scale(1.05);
    transition: background 0.3s ease;
}
.related p {
    font-size: 14px;
    margin: 0 0 4px;
    color: #222;
    font-weight: 500;
}

.related p:hover {
    text-decoration: underline;
    color: #C89F7B;
}